.appContainer {}

:global(.markdown) {
  img {
    height: auto;
    max-width: 100%;
  }
}

:global(.grid-container) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

:global(.card) {
   :global(.card-content) {
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}

:global(nav a.active) {
  background-color: gray;
}


/*
:global(a.anchor) {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}*/
